@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab&display=swap');



body {
    background: url("../img/body-background.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Slab", sans-serif;
    padding: 0;
    margin: 0;
    color: #202020;
    z-index: 0;
    height: 150%;
    }

.h-100{
    height: 100%;
}


h1, h2, h3, h4{
    font-family: "Amatic SC", sans-serif;
}


p{
    line-height: 1.5;
    margin: 60px 0;
    font-size: 2vmax;
}

@media screen and (max-width:800px){
    p{
        margin: 30px 0;
    }
}

.no-gutters{
    margin: 0 !important;
}

section{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fafafa;
    flex: 1;
}

/*------------------------- Header -------------*/

header.masthead {
    background: no-repeat center center;
    background-color: transparent;
    position: relative;
    background-size: cover;
}

.masthead{
    word-wrap: break-word;
    contain: content;
}

.masthead-content{
    background: url("../img/walkies-hero.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 75px;
    height: 30vmax;
    width: 100%;
    align-items: center;
    padding: 2%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .masthead-content{
        margin-top: 60px;
        background-size: cover;
    }
}

.masthead-subheading{
    font-size: 2vmax;
    font-family: "Joesfin Slab", sans-serif ;
    color: #fafafa;
}

.masthead-content p{
    color: #fafafa;
}

.hero-container{
    justify-content: center;
}

/* ------------- Content ------------------ */

.content{
    padding: 0;
    margin-bottom: 10%;
}

/*-------------- Nav Bar ------------------- */



nav{
    background-color: transparent;
    color: black;
    }

#navbar {
    z-index: 2;
    background-color: #fafafa;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar ul a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 2vmax;
    line-height: 60px;
}

#navbar a:hover {
    background-color: transparent;
    color: rgb(72, 136, 141);
}

.navbar-brand{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3vmax;
    color: black;
    line-height: 60px;
}

.navbar-brand:hover{
    color: rgb(68, 211, 144);
}

.nav-link{
    font-family: 'Amatic SC', sans-serif;
    font-size: 2vmax;
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

#nav-toggler{
    color: black;
}


nav ul a:hover {
   background-color: transparent;
}

.navbar-collapse{
    background-color: white;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
    

 .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav{
    -webkit-box-shadow: 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0) !important;
    box-shadow: 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0), 0 0px 0px 0 rgb(0 0 0 0) !important;
}

/*---------------------- Flashes ---------------------------*/

.flashes{
    line-height: 3;
    background-color: rgb(241, 63, 63);
    font-size: 2vmax;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

.flashed-message{
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0 0;
}

/*---------------------- Main Content ---------------------- */

.main-content{
    padding: 3%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.main-content img{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    margin-bottom: 20px;
}

.round-image{
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.p-5{
    margin-bottom: 3%;
}

.walk-maps{
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
}

.map {
    min-height: 360px;
    width: 100%;
    margin: 0 auto;
    border: 20px solid #272727;
    }

@media screen and (max-width: 800px) {
.map{
    min-height: 300px;
    width: 100%;
    margin: 0 auto;
    border: 20px solid #272727;
    }
}

.tab {
    margin: 10px
}

/*-----------------------Benefits --------------------------- */

.benefits-section{
    align-items: center;
}

.benefits{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   }

.benefits i{
    color: rgb(68, 211, 144);
    margin-right: 4rem;
    margin-left: 4rem;
    font-size: 5vmax;
    margin-bottom: 2rem;
}

@media screen and (max-width:800px){
    .benefits i{
        margin: 0.3rem;
        
    }
}

.benefits-icons p{
    font-family: "Joesfin Slab", sans-serif;
    font-size: 2vmax;
    color: black;
    margin: 0 auto;
}

/*-------------- Back to top buttons (courtesy of https://heathertovey.com/blog/floating-back-to-top-button/) ------ */

.back-to-top {
    background-color: #43b3ad;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
  }

  a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    border-radius: 50%;
  }

  .back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
  }

  .back-to-top.show {
    opacity: 1;
  }

/*----------------- Buttons ------------- */

.sign-in-button{
    font-family: 'Amatic SC', sans-serif !important;
    background-color: #69EA5E;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 1.5vmax !important;
    height: auto;
    padding: 5px !important;
   
}

.sign-in-button:hover{
    background-color: #105725 !important;
    color: #fafafa !important;
}

.sign-out-button{
    font-family: 'Amatic SC', sans-serif !important;
    color: #fafafa;
    background-color: rgb(241, 63, 63);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 1.5vmax !important;
    height: auto;
    padding: 5px !important;
}

.sign-out-button:hover{
    background-color: rgb(238, 8, 8);
    color: #fafafa;
}

.submit-button{
    background-color: #69EA5E !important;
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.submit-button:hover{
    background-color: #105725 !important;
    border: none;
    color: #fafafa;
}

.nav-button-green{
    background-color: #69EA5E;
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.nav-button-blue{
    background-color: #5BC8C1;
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.nav-button-green:hover {
    background-color: #105725;
    border: none;
    color: #fafafa;
}

.nav-button-blue:hover {
    background-color: #24316b;
    border: none;
    color: #fafafa;
}

.nav-button-red{
    background-color: rgb(241, 63, 63);
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.nav-button-red:hover{
    background-color: rgb(238, 8, 8);
    color: #fafafa;
}

.btn {
    font-size: 1vmax;
    font-weight: 800;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media screen and (max-width:800px){
    .btn {
        font-size: 1vmax;
        font-weight: 800;
        padding: 0 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 20;
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        height: auto;
        width: auto;
    }
}

.cancel-button{
    background-color: rgb(236, 82, 82);
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

/*---------------- register forms ------------------------ */

.age-group{
    display: inline;
}

.register-form{
    margin-top: 10%;
    padding: 2rem;
    color: #000000;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: #fafafa;
}

@media screen and (max-width:800px){
    .register-form{
        margin-top: 20%;
}
}

.register-form h3{
    font-size: 4vmax;
}

/*-------------------------- Sign in page ---------------*/

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto !important;
}

.sign-in-page{
    margin-top: 10%;
}

.sign-in-container{
    height: 100%;
}

.sign-in-card{
    align-items: center;
    margin: 0 auto;
    height: 200px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30rem;
}

.card-action{
    justify-content: space-around;
}

.card .card-action:last-child {
    border-radius: 0 0 2px 2px;
    padding: 5px;
}

.card .card-action {
    background-color: inherit;
    border-top: none;
    position: relative;
    padding: 16px 24px;
}

.card-action .btn{
    margin-bottom: 5px;
}

/*--------------------------- Sign in Forms -----------------*/

.sign-in-container{
    padding: 1%;
}

.sign-in-form{
    margin-top: 10%;
    padding: 1%;
}

.log-in-icon{
    color: rgb(68, 211, 144);;
}


/*------------------------- Profile Pages ----------------- */

.owner-profile{
    margin-top: 10%;
    padding: 5%;
    position: relative;;
}

@media screen and (min-width: 1000px){
    .owner-profile{
        margin-bottom: 20%;
    }
}

.owner-info{
    width: auto;
}

.add-walk{
    margin: 0 auto;
    background-color: #fafafa;
    margin-top: 100px;
    width: 40%;
    list-style: none;
    align-items: center;
    display: flex;
    text-align: center;
}

@media screen and (max-width:800px){
    .add-walk {
        margin: 0 auto;
        background-color: #fafafa;
        margin-top: 100px;
        width: 90%;
        list-style: none;
        align-items: center;
        display: flex;
        text-align: center;
    }
}

.collapsible i{
    float: right;
    text-align: center;
}


/* -------------------------- Edit Walk ---------------------- */

.edit-walk{
    margin: 0 auto;
    background-color: #fafafa;
    margin-top: 100px;
    width: 40%;
    list-style: none;
    align-items: center;
    display: flex;
    text-align: center;
}

@media screen and (max-width:800px){
    .edit-walk {
        margin: 0 auto;
        background-color: #fafafa;
        margin-top: 100px;
        width: 90%;
        list-style: none;
        align-items: center;
        display: flex;
        text-align: center;
    }
}

/*-------------------------- Walker Profile -------------------*/
.walker-profile{
    margin-top: 15%;
    padding: 3%;
}

@media screen and (min-width: 1000px){
    .walker-profile{
        margin-bottom: 20%;
    }
}

.matched-owners{
    font-size: 1vin;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------- Block Divider (courtesy of https://codepen.io/stg/pen/ZYYQMJ) ------------------------- */

.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
    background-color: #fafafa;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

/*------------------ Footer----------------- */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  background-color: transparent;
}


footer ul {
  margin: 0;
}

.footer-flex {
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  justify-content: space-between;
}

footer ul {
  margin: 0;
}

.social-media {
  text-align: center;
  bottom: 5px;
  padding: 0;
}

.social-media li {
  display: inline;
  text-decoration: none;
}

.social-media i {
  font-size: 2vmax;
  letter-spacing: 0px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 1%;
  text-decoration: none;
  color: #000000;
  bottom: 10px;
}

@media screen and (max-width: 800px) {
  .social-media i {
    font-size: 2vmax ;
    letter-spacing: 0px;
    padding: 20px;
    margin: 1%;
    text-decoration: none;
    color: #000000;
    bottom: 0px;
  }
}

footer p{
   font-size: 1vmax !important; 
   margin: 10px;
}

.copyright {
  text-align: center;
  color: #000000;
  
}