@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab&display=swap');



body {
    background: url("../img/body-background.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Slab", sans-serif;
    padding: 0;
    margin: 0;
    color: #202020;
    z-index: 0;
    height: 150%;
    }

.h-100{
    height: 100% !important;
}

h1, h2, h3, h4{
    font-family: "Amatic SC", sans-serif;
}

p{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 2vmax;
}

.no-gutters{
    margin: 0 !important;
}

section{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fafafa;
    flex: 1;
}

/*------------------------- Header -------------*/

.masthead{
    overflow: auto;
    contain: content;
}

.masthead-content{
    background: url("../img/walkies-hero.jpg") no-repeat center center;
    margin-top: 75px;
    height: 30vmax;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    position: relative;
}

.masthead-subheading{
    font-size: 3vmax;
    font-family: "Joesfin Slab", sans-serif ;
    color: #fafafa;
}

.hero-container{
    justify-content: center;
}

/*-------------- Nav Bar ------------------- */



nav{
    background-color: transparent;
    color: black;
    }

#navbar {
    z-index: 2;
    background-color: #fafafa;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar ul a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 2vmax;
    line-height: 60px;
}

#navbar a:hover {
    background-color: transparent;
    color: rgb(72, 136, 141);
}

.navbar-brand{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3vmax;
    color: black;
    line-height: 60px;
}

.navbar-brand:hover{
    color: rgb(68, 211, 144);
}

.nav-link{
    font-family: 'Amatic SC', sans-serif;
    font-size: 2vmax;
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

#nav-toggler{
    color: black;
}


.sign-in-button{
    font-family: 'Amatic SC', sans-serif !important;
    background-color: #69EA5E;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 1.5vmax !important;
    height: auto;
    padding: 5px !important;
   
}

.sign-in-button:hover{
    background-color: #105725 !important;
    color: #fafafa !important;
}

.sign-out-button{
    font-family: 'Amatic SC', sans-serif !important;
    color: #fafafa;
    background-color: rgb(241, 63, 63);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 1.5vmax !important;
    height: auto;
    padding: 5px !important;
}

.sign-out-button:hover{
    background-color: rgb(238, 8, 8);
    color: #fafafa;
}

nav ul a:hover {
   background-color: transparent;
}

.navbar-collapse{
    background-color: white;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
    

 .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav{
    -webkit-box-shadow: 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0) !important;
    box-shadow: 0, 0, 0, 0 rgb(0 0 0 0), 0, 0, 0, 0 rgb(0 0 0 0), 0 0px 0px 0 rgb(0 0 0 0) !important;
}

/*---------------------- Main Content ---------------------- */

.main-content img{
    width: 50%;
    height: 50%;
}

/*-----------------------Benefits --------------------------- */

.benefits-section{
    align-items: center;
}

.benefits{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   }

.benefits i{
    color: rgb(68, 211, 144);
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 5vmax;
    
}

.benefits-icons p{
    font-family: "Joesfin Slab", sans-serif;
    font-size: 2vmax;
    color: black;
    margin: 0 auto;
}

/*-------------- Back to top buttons (courtesy of https://heathertovey.com/blog/floating-back-to-top-button/) ------ */

.back-to-top {
    background-color: #43b3ad;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
  }

  a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    border-radius: 50%;
  }

  .back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
  }

  .back-to-top.show {
    opacity: 1;
  }

/*----------------- Buttons ------------- */

.submit-button{
     border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.submit-button:hover{
    background-color: #24316b;
}

.nav-button-green{
    background-color: #69EA5E;
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.nav-button-blue{
    background-color: #5BC8C1;
    border-radius: 15px;
    font-size: 1vmax;
    height: auto;
}

.nav-button-green:hover {
    background-color: #105725;
    border: none;
    color: #fafafa;
}

.nav-button-blue:hover {
    background-color: #24316b;
    border: none;
    color: #fafafa;
}

.btn {
    font-size: 1vmax;
    font-weight: 800;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*---------------- register forms ------------------------ */

.age-group{
    display: inline;
}

.register-owner-form{
    margin-top: 10%;
    padding: 2rem;
    color: #000000;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: #fafafa;
}


.register-walker-form{
    margin-top: 10%;
    padding: 2rem;
    color: #000000;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: #fafafa;
}


/*-------------------------- Sign in page ---------------*/

.sign-in-page{
    margin-top: 10%;
}

.sign-in-container{
    height: 100%;
}

.sign-in-card{
    align-items: center;
    margin: 0 auto;
    height: 200px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30rem;
}

.card-action{
    justify-content: space-around;
}

/*--------------------------- Sign in Forms -----------------*/

.sign-in-container{
    padding: 3%;
}

.sign-in-form{
    margin-top: 10%;
    padding: 3%;
}


/*------------------------- Profile Pages ----------------- */

.profile-page{
    margin-top: 10%;
}

.owner-profile{
    padding: 5%;
}

.walker-profile{
    padding: 5%;
}

/*-------------------------- Images ---------------------- */

.round-image{
    border-radius: 45%;
}

/*----------------------- Block Divider (courtesy of https://codepen.io/stg/pen/ZYYQMJ) ------------------------- */

.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
    background-color: #fafafa;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}


/*------------------------ Upload imagae ----------------------- */

.image-upload-section{
    top: 50%;
    bottom: 50%;
    margin-top: 10%;
    margin-bottom: 250px;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 5%;
}

.image-upload{
    width: 80%;
    height: auto;
    margin: 0 auto;
    align-items: center;
}

























/*------------------ Footer----------------- */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

footer ul {
  margin: 0;
}

.footer-flex {
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  justify-content: space-between;
}

footer ul {
  margin: 0;
}

.social-media {
  text-align: center;
  bottom: 5px;
  padding: 0;
}

.social-media li {
  display: inline;
  text-decoration: none;
}

.social-media i {
  font-size: 2vmax;
  letter-spacing: 0px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 1%;
  text-decoration: none;
  color: #000000;
  bottom: 10px;
}

@media screen and (min-width: 800px) {
  .social-media i {
    font-size: 2vmax ;
    letter-spacing: 0px;
    padding: 0 45px 0 45px;
    margin: 1%;
    text-decoration: none;
    color: #000000;
    bottom: 0px;
  }
}

footer p{
   font-size: 1vmax !important; 
}

.copyright {
  text-align: center;
  color: #000000;
  
}