{% extends "base.html" %}

{% block content %}

<div class="add-walk">
    <div class="row">
        <h3>Add A Walk</h3>
        <div class="col-s12 m8 offset-m2">

            <form class="col s12" method="POST" action="{{ url_for('add_walk') }}">



                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="datepicker" name="date_of_walk" id="date_of_walk" required>
                        <label for="date_of_walk">Date Of Walk</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="timepicker" name="time_of_walk" id="time_of_walk" required>
                        <label for="time_of_walk">Time Of Walk</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" id="length_of_walk">
                        <select name="length_of_walk" required>
                            <option value="" disabled selected>Minutes</option>
                            <option value="5-10">5-10</option>
                            <option value="10-20">10-20</option>
                            <option value="20-30">20-30</option>
                            <option value="60+">60+</option>
                        </select>
                        <label for="length_of_walk">Length Of Walk</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" id="type_of_walk">
                        <select name="type_of_walk" required>
                            <option value="" disabled selected>Type Of Walk</option>
                            <option value="Beach">Beach</option>
                            <option value="City">City</option>
                            <option value="Country">Country</option>
                            <option value="Dog Park">Dog Park</option>
                        </select>
                        <label for="type_of_walk">Type Of Walk</label>
                    </div>
                </div>

                <button class="submit-button btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right"></i>
                </button>
            </form>

        </div>
    </div>

</div>


{% endblock %}