<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/scripts/jQuery/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/clean-blog.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="../static/js/nav-bar-hide.js"></script>
    <title>Walkies!</title>

</head>


<body>
    <a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><i class="fas fa-angle-up"></i></a>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand nav-link" href="#">Walkies!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li><a class="waves-effect waves-light btn nav-button-blue">Sign Up</a></li>
                    <li><a class="waves-effect waves-light btn nav-button-green">Sign In</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!----- Header Element ----->

    <header class="masthead text-center text-white">
        <div class="masthead-content no-gutters">
            <div class="container">
                <h2 class="masthead-subheading mb-0">Want to get out more and help in your community?</h2>
                <p><strong>Register to help today!</strong></p>
                <a href="#" class="waves-effect waves-light btn nav-button-green">Register a Dog</a>
                <a href="#" class="waves-effect waves-light btn nav-button-blue">Register to Walk a Dog</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="../img/walkies-hero.jpg" alt="walkies-hero">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">For those about to rock...</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                            veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                            recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">We salute you!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                            veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                            recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Let there be rock!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                            veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                            recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->



    <footer class="mt-auto py-3">
        <div class="footer-container">
            <ul class="social-media">
                <li>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                <strong>
                    Copyright Samuel Denton @ The Coding Institute © 2019-2020
                </strong>
            </p>
        </div>
    </footer>

    <!----------Back to top buttons (courtesy of https://heathertovey.com/blog/floating-back-to-top-button/)--->

    <script>
        var link = document.getElementById("back-to-top");
        var amountScrolled = 250;

        window.addEventListener('scroll', function (e) {
            if (window.pageYOffset > amountScrolled) {
                link.classList.add('show');
            } else {
                link.className = 'back-to-top';
            }
        });

"<!-------------Scrolls to top -------------->"

            link.addEventListener('click', function (e) {
                e.preventDefault();

                var distance = 0 - window.pageYOffset;
                var increments = distance / (500 / 16);
                function animateScroll() {
                    window.scrollBy(0, increments);
                    if (window.pageYOffset <= document.body.offsetTop) {
                        clearInterval(runAnimation);
                    }
                };
                // Loop the animation function
                var runAnimation = setInterval(animateScroll, 16);
            });
    </script>

    <!-------------Load in core bootstrap and JQuery --------------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>