{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
    <div class="container-fluid center-align">
        <div class="row">
            <div class="col-12">
                <div class="masthead-content">
                    <h4 class="masthead-subheading mb-0">Want to get out more and help in your community?</h4>
                    <!-- checks to see if the user is logged in -->
                    {% if session.user %}
                    <!-- checks which type of user is logged in so as to provide the correct profile -->
                    {% if session.type == "walker" %}
                    <a href="{{ url_for('walker_profile', walker_username=session['user']) }}"
                        class="waves-effect waves-light btn nav-button-blue" style="margin-top: 90px;">Visit Your
                        Profile</a>

                    {% elif session.type == "owner" %}
                    <a href="{{ url_for('owner_profile', owner_username=session['user']) }}"
                        class="waves-effect waves-light btn nav-button-blue" style="margin-top: 90px;">Visit Your
                        Profile</a>

                    {% endif %}
                    {% endif %}
                    <!-- if no user is logged in, registration buttons will show -->
                    {% if not session.user %}
                    <p><strong>Register to help today!</strong></p>

                    <a href="{{ url_for('register_owner') }}"
                        class="waves-effect waves-light btn nav-button-green">Register a
                        Dog</a>
                    <a href="{{ url_for('register_walker') }}"
                        class="waves-effect waves-light btn nav-button-blue">Register to
                        Walk a Dog</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</header>


<!-- section to show off benefits of signing up -->
<section class="main-content">
    <div class="divider"><span></span><span>Benefits</span><span></span></div>
    <div class="benefits-section">
        <div class="container-fluid benefits center-align">
            <div class="row benefits-icons">
                
                <div class="col">
                    <i class="fas fa-dog fa-5x">
                    </i>
                    <p>Help Out</p>
                </div>

                <div class="col">
                    <i class="fas fa-user-friends fa-5x">
                    </i>
                    <p>Make Friends</p>
                </div>

                <div class="col">
                    <i class="fas fa-heartbeat fa-5x">
                    </i>
                    <p>Get Active</p>
                </div>

            </div>
        </div>
    </div>


    <!-- user stories outlining why people use the service -->
    <div class="divider"><span></span><span>User Stories</span><span></span></div>


    <div class="row center-align">
        <div class="col ">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/collie.jpeg') }}" alt="Collie">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5">
                <h2 class="display-4">Sean and Poppy</h2>
                <p>"After recently turning 70, I have found it hard to take Poppy out on regular walks. But thanks to
                    Walkies, I don't have to feel guilty about her being inside all the time."</p>
            </div>
        </div>
    </div>

    <div class="divider"><span></span><span>O</span><span></span></div>

    <div class="row center-align">
        <div class="col">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/french-bulldog.jpg') }}"
                    alt="French Bulldog">
            </div>
        </div>
        <div class="col-12">
            <div class="p-5">
                <h2 class="display-4">Annaliese and Rigby</h2>
                <p>"Since lockdown, I have been forced to work from home, usually with longer hours. Rigby wasn't
                    getting the walks he needed while I worked, so I decided to give Walkies ago, and I haven't looked
                    back. I can get all my work done knowing my dog is getting the exercise and stimulation he needs!"
                </p>
            </div>
        </div>
    </div>

    <div class="divider"><span></span><span>O</span><span></span></div>

    <div class="row center-align">
        <div class="col">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/dachshund-walk.jpg') }}"
                    alt="Mini Dachshund">
            </div>
        </div>
        <div class="col-12">
            <div class="p-5">
                <h2 class="display-4">Helen</h2>
                <p>"I have just moved to Edinburgh and I was finding hard to find the motivation to go outside with
                    lockdown going on, but my love for dogs brought me to Walkies. Now I can be active again and also
                    meet fellow dog lovers, with a 2 metre distance of course, and build friendships in a new place."
                </p>
            </div>
        </div>
    </div>


    <!-- map section utilising Materialize tabs to show different areas and types of areas which owners like their dogs to be walked -->
    <div class="container-fluid center-align">
        <h2>Our Owners Favourite Locations</h2>
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#haymarket">Haymarket</a></li>
            <li class="tab"><a href="#leith">Leith</a></li>
            <li class="tab"><a href="#morningside">Morningside</a></li>
            <li class="tab"><a href="#new_town">New Town</a></li>
            <li class="tab"><a href="#stockbridge">Stockbridge</a></li>
        </ul>

        <div id="haymarket" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>
                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Scottish National Gallery of Art</h2>
                            <div class="map" id="haymarket_city_map"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>The Meadows</h2>
                            <div class="map" id="haymarket_park_map"></div>
                        </div>
                    </li>
                    </li>
                </ul>
            </div>
        </div>


        <div id="leith" class="col s12">
            <div class="walk-location">
                <ul class="collapsible">

                    <li>
                        <div class="collapsible-header">Beach</div>
                        <div class="collapsible-body">
                            <h2>Silverknowes</h2>
                            <div class="map" id="leith_beach_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Ferry Road</h2>
                            <div class="map" id="leith_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Victoria Park</h2>
                            <div class="map" id="leith_park_map"></div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <div id="morningside" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Morningside Roads</h2>
                            <div class="map" id="morningside_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Harrison Park</h2>
                            <div class="map" id="morningside_park_map"></div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <div id="new_town" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>York Place</h2>
                            <div class="map" id="new_town_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Queen Street Gardens</h2>
                            <div class="map" id="new_town_park_map"></div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <div id="stockbridge" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">

                    <li>
                        <div class="collapsible-header">Beach</div>
                        <div class="collapsible-body">
                            <h2>Newhaven Harbour</h2>
                            <div class="map" id="stockbridge_beach_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Raeburn Place</h2>
                            <div class="map" id="stockbridge_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Inverleith Park</h2>
                            <div class="map" id="stockbridge_park_map"></div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

    </div>
</section>

{% endblock %}