{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
    <div class="masthead-content no-gutters">
        <div class="container">
            <h2 class="masthead-subheading mb-0">Want to get out more and help in your community?</h2>
            <p><strong>Register to help today!</strong></p>
            <a href="{{ url_for('register_owner') }}" class="waves-effect waves-light btn nav-button-green">Register a
                Dog</a>
            <a href="{{ url_for('register_walker') }}" class="waves-effect waves-light btn nav-button-blue">Register to
                Walk a Dog</a>
        </div>
    </div>
</header>

<div class="divider"><span></span><span>Benefits</span><span></span></div>


<section class="benefits-section">
    <div class="container benefits center-align">
        <div class="row">
            <div class="benefits-icons center-align">
                <i class="fas fa-dog fa-5x">
                    <p>Help Out</p>
                </i> <i class="fas fa-user-friends fa-5x">
                    <p>Make Friends</p>
                </i><i class="fas fa-heartbeat fa-5x">
                    <p>Get Active</p>
                </i>
            </div>
        </div>
    </div>
</section>

<div class="divider"><span></span><span>User Stories</span><span></span></div>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid round-image" src="../static/img/dachshund-walk.jpg" alt="dachshund-walk">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">For those about to rock...</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                        veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                        recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid round-image" src="../static/img/" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">We salute you!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                        veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                        recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid round-image" src="../static/img/" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                        veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                        recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}