{% extends "base.html" %}
{% block content %}
<header class="masthead text-center text-white">
    <div class="container-fluid center-align">
    <div class="row">
        <div class="col-12">
            <div class="masthead-content">
                    <h4 class="masthead-subheading mb-0">Want to get out more and help in your community?</h4>
                    <p><strong>Register to help today!</strong></p>
                    <a href="{{ url_for('register_owner') }}"
                        class="waves-effect waves-light btn nav-button-green">Register a
                        Dog</a>
                    <a href="{{ url_for('register_walker') }}"
                        class="waves-effect waves-light btn nav-button-blue">Register to
                        Walk a Dog</a>
                </div>
            </div>
        </div>
    </div>

</header>



<section class="main-content">
    <div class="divider"><span></span><span>Benefits</span><span></span></div>
    <div class="benefits-section">
        <div class="container-fluid benefits center-align">
            <div class="row">
                <div class="benefits-icons center-align">
                    <i class="fas fa-dog fa-5x">
                        <p>Help Out</p>
                    </i> <i class="fas fa-user-friends fa-5x">
                        <p>Make Friends</p>
                    </i><i class="fas fa-heartbeat fa-5x">
                        <p>Get Active</p>
                    </i>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"><span></span><span>User Stories</span><span></span></div>


    <div class="row">
        <div class="col">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/collie.jpeg') }}" alt="Collie">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5">
                <h2 class="display-4">For those about to rock...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                    veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                    recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>

    <div class="divider"><span></span><span>O</span><span></span></div>

    <div class="row">
        <div class="col">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/french-bulldog.jpg') }}"
                    alt="French Bulldog">
            </div>
        </div>
        <div class="col-12">
            <div class="p-5">
                <h2 class="display-4">We salute you!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                    veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                    recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>

    <div class="divider"><span></span><span>O</span><span></span></div>

    <div class="row">
        <div class="col">
            <div class="p-5">
                <img class="round-image" src="{{ url_for('static', filename = 'img/dachshund-walk.jpg') }}"
                    alt="Mini Dachshund">
            </div>
        </div>
        <div class="col-12">
            <div class="p-5">
                <h2 class="display-4">Let there be rock!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio
                    veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis
                    recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid center-align">
        <h2>Our Owners Favourite Locations</h2>
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#haymarket">Haymarket</a></li>
            <li class="tab"><a href="#leith">Leith</a></li>
            <li class="tab"><a href="#morningside">Morningside</a></li>
            <li class="tab"><a href="#new_town">New Town</a></li>
            <li class="tab"><a href="#stockbridge">Stockbridge</a></li>
        </ul>

        <div id="haymarket" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>
                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Scottish National Gallery of Art</h2>
                            <div class="map" id="haymarket_city_map"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>The Meadows</h2>
                            <div class="map" id="haymarket_park_map"></div>
                        </div>
                    </li>
                    </li>
                </ul>
            </div>
        </div>


        <div id="leith" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>

                    <li>
                        <div class="collapsible-header">Beach</div>
                        <div class="collapsible-body">
                            <h2>Silverknowes</h2>
                            <div class="map" id="leith_beach_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Ferry Road</h2>
                            <div class="map" id="leith_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Victoria Park</h2>
                            <div class="map" id="leith_park_map"></div>
                        </div>
                    </li>

                    </li>
                </ul>

            </div>
        </div>

        <div id="morningside" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Morningside Roads</h2>
                            <div class="map" id="morningside_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Harrison Park</h2>
                            <div class="map" id="morningside_park_map"></div>
                        </div>
                    </li>
                    </li>
                </ul>

            </div>
        </div>

        <div id="new_town" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>
                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>York Place</h2>
                            <div class="map" id="new_town_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Queen Street Gardens</h2>
                            <div class="map" id="new_town_park_map"></div>
                        </div>
                    </li>

                    </li>
                </ul>

            </div>
        </div>

        <div id="stockbridge" class="col s12">
            <div class="walk-location">

                <ul class="collapsible">
                    <li>

                    <li>
                        <div class="collapsible-header">Beach</div>
                        <div class="collapsible-body">
                            <h2>Newhaven Harbour</h2>
                            <div class="map" id="stockbridge_beach_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">City</div>
                        <div class="collapsible-body">
                            <h2>Raeburn Place</h2>
                            <div class="map" id="stockbridge_city_map"></div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">Park</div>
                        <div class="collapsible-body">
                            <h2>Inverleith Park</h2>
                            <div class="map" id="stockbridge_park_map"></div>
                        </div>
                    </li>

                    </li>
                </ul>

            </div>
        </div>



    </div>
</section>





{% endblock %}