{% extends "base.html" %}
{% block content %}


<div class="owner-profile">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel center-align">
                <h3 class="center-align light-blue-text text-darken-4">{{ owner_username }}'s Profile
                </h3>


                <div class="row walks center-align">
                    {% for walk in walks %}
                    
                    <div class="col-12 owner-info">

                        {% if session.user == walk.owner_username %}
                        <p>Type of Walk: {{ walk.type_of_walk }}</p>
                        <p>Date Of Walk: {{ walk.date_of_walk }}</p>
                        <p>Time Of Walk: {{ walk.time_of_walk }}</p>
                        <p>Length of Walk: {{ walk.length_of_walk }}</p>
                        <br>
                        

                    </div>

                    <a href="{{ url_for('edit_walk', walk_id=walk._id) }}"
                        class="waves-effect waves-light btn nav-button-blue">Edit Walk</a>
                    <a href="{{ url_for('delete_walk', walk_id=walk._id) }}"
                        class="waves-effect waves-light btn nav-button-red">Delete Walk</a>
                        <hr>
                        {% endif %}
                    {% endfor %}
                    

                </div>
                <a href="{{ url_for('add_walk') }}" class="waves-effect waves-light btn submit-button">Add a
                    Walk</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}