{% extends "base.html" %}
{% block content %}

<section class="register-walker-form">
    <h3 class="center-align">Register To Walk A Dog</h3>

    <div class="row">
        <form class="col s12">
            <div class="row">
            <div class="input-field col s12">
                    <input placeholder="Placeholder" id="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Age Group</option>
                        <option value="1">18-21</option>
                        <option value="2">21-25</option>
                        <option value="3">25-30</option>
                        <option value="3">30+</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>
                            <label>
                                <input name="group1" type="radio" checked>
                                <span>18-21</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio">
                                <span>21-25</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio">
                                <span>25-30</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio">
                                <span>30+</span>
                            </label>
                        </p>
                        <label>Age Group</label>
                    </div>
                </div>

        </form>
    </div>
    <div class="row">
    <div class="col s12">
        <p class="center-align">
            Already a walker? 
            <a href="{{ url_for('sign_in_walker') }}" class="light-blue-text darken-4">Log In</a>
        </p>
    </div>
</div>
</section>
{% endblock %}