{% extends "base.html" %}
{% block content %}

<section class="register-walker-form">
    <h3 class="center-align">Register To Walk A Dog</h3>

    <div class="row center-align">
        <form class="col s12" method="POST" action="{{ url_for('register_walker') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" name="walker_username" id="walker_username" type="text" class="validate">
                    <label for="walker_username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="walker_password" name="walker_password" type="password" class="validate">
                    <label for="walker_password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="walker_email" name="walker_email" type="email" class="validate">
                    <label for="walker_email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="location input-field col s12" id="walker_location">
                    <select>
                        <option value="" disabled selected>Location</option>
                        <option value="1">Haymarket</option>
                        <option value="2">Leith</option>
                        <option value="3">Morningside</option>
                        <option value="3">New Town</option>
                        <option value="3">Stockbridge</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div class="row">
                <div class="age-group input-field col s12" id="age_group">
                    <select>
                        <option value="" disabled selected>Age Group</option>
                        <option value="1">18-21</option>
                        <option value="2">21-25</option>
                        <option value="3">25-30</option>
                        <option value="3">30+</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>


            <button class="submit-button btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already a walker?
                <a href="{{ url_for('sign_in_walker') }}" class="light-blue-text darken-4">Log In</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}