<div class="collapsible-body">
    <div class="row matched-owners">
        <div class="col matched-walks">
            <p>Owner: {{ walk.owner_username.capitalize() }}</p><br>
            <p>Location: {{ walk.walk_location }}</p><br>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">{{ walk.type_of_walk }}
                        <div class="collapsible-body">
                            <div class="row walks">
                                <div class="col-12 walk-info">
                                    <p>Type of Walk: {{ walk.type_of_walk }}</p>
                                    <p>Date Of Walk: {{ walk.date_of_walk }}</p>
                                    <p>Time Of Walk: {{ walk.time_of_walk }}</p>
                                    <p>Length of Walk: {{ walk.length_of_walk }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
  