{% extends "base.html" %}
{% block content %}


<div class="walker-profile">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel ">
                <h3 class="center-align light-blue-text text-darken-4">{{ walker.walker_username }}'s Profile
                </h3>
                
{% for walk in walks %}
   {% for owner in owners if owners.owner_username == walks.owner_username %}
        {% if session.user.age_group == owners.prefered_age_group and session.user.walker_location == owners.owner_location %}

                
                
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">{{ owners.dog_name }}</div>
                        <div class="collapsible-body">
                            <div class="row matched-owners">
                                <div class="col matched-walks">
                                    <p>Owner: {{ owners.owner_username }}</p><br>
                                    <p>Location: {{ owners.owner_location }}</p><br>
                                    <ul class="collapsible">
                                        <li>
                                            
                                            <div class="collapsible-header">{{ walks.type_of_walk }}</div>
                                            <div class="collapsible-body">
                                                <div class="row walks">
                                                    <div class="col-12 walk-info">
                                                        <p>Type of Walk: {{ walks.type_of_walk }}</p>
                                                        <p>Date Of Walk: {{ walks.date_of_walk }}</p>
                                                        <p>Time Of Walk: {{ walks.time_of_walk }}</p>
                                                        <p>Length of Walk: {{ walks.length_of_walk }}</p>
                                                        <p>Email: <a href="mailto:{{ owners.owner_email }}">
                                                                {{ owners.owner_email}}</a></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                    
                                    </ul>
                                    
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
               {% endif %}
                {% endfor %}
                {% endfor %}



            </div>
        </div>
    </div>
</div>
{% endblock %}