{% extends "base.html" %}
{% block content %}


<div class="walker-profile">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel ">
                <h3 class="center-align light-blue-text text-darken-4">{{ walker_username.capitalize() }}'s Profile
                </h3>

                {% for information in info %}
                    {% if walkers == owners %}

                    {{ info.owner_username }}
                    {{ info.owner_location }}
                    {{ info.owner_email}}
                    {{ info.dog_name }}

                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>


{% endblock %}